p = "Le seguenti macchine non hanno inviato dati nella giornata di ieri:"

br

- @text.each do |machine|
  p = machine

br

p = "Se il problema persiste verificare eventuali modifiche apportate alle macchine o contattare l'assistenza."

p =  "Se non hai utilizzato la macchina ignora semplicemente questa mail."
